* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: monospace , sans-serif;
}
/* navbar */
/* .navbar {
    display: flex;
   justify-content: flex-end;
    background-color: rgba(255, 217, 0, 0);
    height: 60px;
    width: 100%;
    padding: 4px;
    position: fixed;
    
    z-index: 100;
    
} */

 .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100% );

}  

 /* .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    
    
}

.navbar a:hover {
    cursor: pointer;
    color: grey;
    text-decoration: none;
    
} */

.nav-heading {
    font-size: 5px;
    margin: 50px auto;
    box-shadow: 2px 2px 20px 10px white;
    border: 1px solid white;
    border-radius: 50px;
    color: yellow;
    font-weight: bold;
    text-align: center;
   text-transform: uppercase;
   border-style: none;
   padding: 6px;
  
    
}

.nav-heading:hover{
    transition: 5s linear;
    transform: scale(1.1);
    background-color: navy;
    color: white;
}
 


/* about me starts here */
.about-me img {
    width: 80%;
    height: 40%;
    border-radius: 20px;
    margin-top: 10px;
}

.about-me {
    text-align: center;
    font-size: 15px;
    margin: 20px;
    border: 1px solid white;
    width: 90%;
    box-shadow: 1px 0px 20px 1px white;
    border-radius: 50px;
    padding: 20px;
    border-style: none;
}

.about-me h1 {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.331);
    color: #ffff00;
    box-shadow: 1px 0px 20px 1px white;
    border-style: none;
}

.about-me h1:hover {
    background-color: snow;
    color: slateblue;
    transition: 3s;
    transform: scale(1.1);
}

/* profile */
.profile {
   
}

.profile-desc {
    text-align: center;
    padding: 20px;
    letter-spacing: 0.1em;
    border: 1px solid rgb(212, 210, 210);
    width: 90%;
    margin: 60px 20px 20px 20px ;
    box-shadow: 1px 0px 20px 1px white;
    border-radius: 50px;
    border-style: none;

    
}

.profile-desc:hover {
    transition: 3s;
    transform: scale(1.1);
}

.profile-desc h1 {
    color: grey;
    margin-bottom: 10px;
    
}

.profile-desc p {
    font-style: italic;
    color: rgb(217, 230, 230);
}

.bio {
    color: teal;
    
}
.myself {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.331);
    color: #ffff00;
    box-shadow: 1px 0px 20px 1px white;
    border-style: none;
}

.myself:hover {
    background-color: snow;
    color: slateblue;
    transition: 3s;
    transform: scale(1.1);
}

.name {
    background-color: rgba(217, 230, 230, 0.735);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 5px;
    
}
.name:hover {
    background-color: snow;
    color: slateblue;
    transition: 3s;
    transform: scale(1.1);
}
.address {
    background-color: rgba(217, 230, 230, 0.735);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 5px;
}

.address:hover {
    background-color: teal;
    transition: 3s;
    color: white;
    transform: scale(1.1);
}

.email  {
    background-color: rgba(217, 230, 230, 0.735);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;

} 

.email a {
    text-decoration: none;
}
.email:hover {
    background-color: slateblue;
    transition: 5s;
    transform: scale(1.1);
}

.email a:hover {
    color: white;
    transition: 2s;
}
.call {
    background-color: rgba(217, 230, 230, 0.735);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    
}

.call:hover {
    background-color: royalblue;
    transition: 2s;
    transform: scale(1.1);
    
}

.call a {
    text-decoration: none;
}

.call a:hover {
    color: white;
    transition: 2s linear;
}

.about-me img:hover {
    transform: scale(1.4);
    transition: 8s;
}
/* about me emds here */

/* skills */
.skills-container {
    padding-left: 45px;
    
}
.skills-container li {
   list-style: none;
   font-weight: bolder;
   margin: 30px 10px;
   position: relative;
   text-transform: uppercase;
   text-align: center;
   
   
   
}

.skills-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    height: 5px;
    left: 0;
    background-color: rgb(86,86,153,.5);
    border-radius: 1000px;
    
 }


.skills-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0%;
    height: 5px;
    left: 0;
    background-color: rgba(86, 86, 153, 0.461);
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
 }

 .skills-container li.html::after{
     animation-name: html;

 }

 @keyframes html {
     to{
         width: 90%;
     }
 }

 .skills-container li.css::after{
     animation-name: css;
 }
 @keyframes css{
     to{
         width: 70%;
     }
 }

 .skills-container li.python::after{
    animation-name: python;
}
@keyframes python{
    to{
        width: 50%;
    }
}

.skills-container li.react::after{
    animation-name: react;
}
@keyframes react{
    to{
        width: 80%;
    }
}

.skills-container li.redux::after{
    animation-name: redux;
}
@keyframes redux{
    to{
        width: 75%;
    }
}

.skills-container li.js::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 60%;
    }
}

.skills-container li.django::after{
    animation-name: django;
}
@keyframes django{
    to{
        width: 50%;
    }
}

.skills-container li.sql::after{
    animation-name: sql;
}
@keyframes sql{
    to{
        width: 55%;
    }
}

.skills-container li.git::after{
    animation-name: git;
}
@keyframes git{
    to{
        width: 90%;
    }
}

.skills-container li.heroku::after{
    animation-name: heroku;
}
@keyframes heroku{
    to{
        width: 50%;
    }
}
 







.card {
     border: 1px solid white;
     width: 90%;
    border-radius: 50px;
     padding: 20px;
     margin: 20px;
     box-shadow: 1px 0px 20px 1px white;
     border-style: none;
 }

 .card:hover {
     transform: scale(1.1);
     transition: 7s;
     background-color: white;
     color: rgba(0, 0, 255, 0.577);
 }

 .skills {
     text-align: center;
     border: 1px solid white;
     margin: 10px;
     width: 99%;
     height: 30px;
     border-radius: 80px;
     text-transform: uppercase;
     font-weight: bolder;
     font-family: monospace, sans-serif;
     letter-spacing: 0.1em;
     background-color: rgba(240, 255, 240, 0.303);
 }

 .skills:hover {
     background-color: teal;
     color: white;
     transition: 10s;
     transform: scale(1.1);
 }

 /* skills ends here */


 /* contact starts here */
 .contact {
     text-align: center;
     margin-left: 18%;
    padding-bottom: 40px;
     width: 300px;
     height: 20%;
     border: 1px solid white;
     border-radius: 50px;
     box-shadow: 1px 0px 20px 1px white;
     
     
     

 }

 .contact h2 {
    text-align: center;
    margin: 18%;
   padding: 20px;
    width: 180px;
    color: #ffff00 ;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 1px 0px 20px 1px white;
    background-color: rgba(255, 255, 255, 0.646);
    border-style: none;
    
 }

 .contact h2:hover {
     background-color: steelblue;
     color: teal;
     transition: 5s linear;
     transform: scale(1.1);
 }

 .contact input , textarea {
     text-align: center;
     margin: 10px;
     padding: 5px;
     text-transform: capitalize;
     background-color: rgba(248, 246, 246, 0.269);
     
     
 }
.contact:hover{
    transition: 10s;
    transform: scale(1.1);
    background-color: royalblue;
    color: white;
    
}
.contact input , textarea:hover {
    transition: 10s;
    transform: scale(1.1);
    color: white;
}

.contact button {
    color: white;
    background-color: rgb(0, 128, 128);
    margin: 10px;
    width: 20%;
    border-radius: 50px;
}

.contact button:hover{
    background-color: rgba(0, 128, 128, 0.406);
    transition: 4s;
    color: snow;
    transform: scale(1.1 );
}

.contact-links {
    display: flexbox;
    
    margin: 50px auto;
    text-align: center;
    border: 1px solid white;
    width: 70%;
    border-style: none;
    background-color: rgba(192, 192, 192, 0.098);
    border-radius: 50px;
    box-shadow: 1px 0px 20px 1px white;
    border-style: none;
   

}

.icons button {
    margin: 10px;
   

    
}

.bi-github {
    color: #6e5494;

}
.bi-github:hover {
    background-color: white;
}


.bi-linkedin {
    color: #00a0dc;
}

.bi-linkedin:hover {
    background-color: white;
}

.bi-facebook {
    color: #3B5998;
   
}
.bi-facebook:hover {
    background-color: white;
}

.bi-youtube {
    color: #FF0000;
}
.bi-youtube:hover {
    background-color: white;
}

.bi-instagram {
    color: #8a3ab9;
}
.bi-instagram:hover {
    background-color: #3F729B;
}
.bi-twitter {
    color: #00ACEE;
}

.bi-twitter:hover {
    background-color: white;
}
.btn:hover {
    
    transition: 2s linear;
    transform: scale(1.3);

}
.btn {
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    padding: 2px;
    border-style: none;
    margin: 10px;

}
/* contact ends here */

/* footer */
.footer {

    
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
   padding-left: 180px;
    
    
}


.footer-menu a {
    display: flexbox;
    text-decoration: none;
    margin: 5px;
}

.bi-heart-fill {
    color: red;
}

.footer-desc {
    font-size: 8px;
    color: yellow;
}

.footer-menu a:hover {
    color: grey;
}

/* project */

.projects {
    margin: 60px auto;
    width: 80%;
}

.font-projects {
    text-align: center;
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.331);
    color: #ffff00;    ;
    box-shadow: 1px 0px 20px 1px white;
    border-style: none;
}

.font-projects:hover {
    background-color: snow;
    color: slateblue;
    transition: 3s;
    transform: scale(1.1);
}

.foy img {
    width: 100%;
    padding: 20px;
}

.foy {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 0px 20px 1px white;
    color: #ffff00;
    border-radius: 50px;
    border-style: none;
}

.foy:hover {
    background-color: rgba(218, 165, 32, 0.495);
    color: rgba(65, 105, 225, 0.543);
    transition: 10s linear;
    transform: scale(1.1);
}




/* new style */
/* .navbar {
    color: white;
}

.container a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: bold;
 
}


.fa {
    border: 1px solid red;
    font-size: 5px;
    margin: 5px;
    box-shadow: 2px 2px 20px 10px white;
    border: 1px solid white;
    border-radius: 50px;
    color: yellow;
    font-weight: bold;
    text-align: center;
   text-transform: uppercase;
   font-size: 20px;
   color: yellow;
   
  
} */

.collapse  a {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    color: white;
}


.collapse a:hover {
    cursor: pointer;
    color: grey;
    text-decoration: none;
    
    
}